@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&display=swap");

*:focus {
  outline: none;
}

.search-btn {
  transition: background-color 200ms;
}

.search-btn:hover {
  background-color: #f5f5f5;
}

.search-btn:active {
  background-color: #f0f0f0;
}

.paw {
  transform: matrix(-0.16, -0.39, -0.59, 0.06, -16.7, 0);
  position: absolute;
}

body {
  zoom: 1.4;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

nav {
  --decoration-left: 53%;
  --decoration-width: 0;
}

nav::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: var(--decoration-left);
  width: var(--decoration-width);
  height: 2.5px;
  background: #319528;
}

.nav-bar::after {
  transition: 300ms;
}

.menu-btn {
  height: 85%;
  margin-bottom: -24px;
  font-size: 10px;
  font-weight: 600;
  color: #6b6b6b;
  transition: 300ms;
  white-space: nowrap;
}

.nav-active {
  height: 85%;
  /* border-bottom: 2.5px solid #319528; */
  margin-bottom: -24px;
  font-size: 10px;
  font-weight: 600;
  color: black;
}

.long-shadow {
  box-shadow: 0px 7px 40px 20px rgba(0, 0, 0, 0.05);
}

#nprogress .bar {
  background: #319528 !important;
}
